/config.status
/config.log
/config.h
/aclocal.m4
Makefile.in
/config/
/config.h.in
/configure
*~
/build*/
m4
GIT_REVISION
SVN_REVISION
libtool
*.o
*.la
*.so*
*.a
.deps
*.tar*
*.zip
*.lo
*.gcno
*.gcda
app.info
coverage_report
/Makefile
gles2app1/src/Makefile
gles2app2/src/Makefile
gles2app3/src/Makefile
stamp-h1
autom4te.cache/
gles2app1/src/gles2app1
gles2app1/src/gles2app2
gles2app1/src/gles2app3
gles2app2/src/gles2app2
gles2app3/src/gles2app3
